<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEzCNCSQR4RpiIpFrCIajYrXPiH5qnxoI</string>
	<key>GCM_SENDER_ID</key>
	<string>600151434965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mygama.gamadriver</string>
	<key>PROJECT_ID</key>
	<string>gama-87465</string>
	<key>STORAGE_BUCKET</key>
	<string>gama-87465.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600151434965:ios:3cd5fd51b06657a7f8645c</string>
	<key>DATABASE_URL</key>
	<string>https://gama-87465-default-rtdb.firebaseio.com</string>
</dict>
</plist>